*{
    margin: 0;
    padding: 0;
}
.cont{
    width: 20px;
    border: 1px solid black;
    color: white;
    background-color: red;
    padding: 15px 30px;
    margin: 20px;
}
.cont:nth-child(even){
    display: none;
}
.content{
    display: flex;justify-content: center ;
}